@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes jumpTwo {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes jumpTwo {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes jumpThree {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes jumpThree {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.main-container {
  background: #0f0f0f;
}

.shapes {
  position: absolute;
  z-index: -1;
}

.hero-banner {
  padding: 9.375rem 0;
  /* background-image: url(/img/banner.png), linear-gradient(#1d1d1d, #1d1d1d); */
  background-color: var(--token-primary-bg-c);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.hero-heading {
  color: var(--ifm-heading-color);
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.1em;
}

.hero-banner .hero-sub-heading {
  font-size: 23px;
  color: var(--ifm-heading-color);
  padding: 2rem 0 3rem;
  max-width: 56.25rem;
}
.hero-banner .get-start-btn {
  line-height: 56px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 0 2.5rem;
  transition: all 0.3s ease-in-out;
}
.hero-banner .get-start-btn:hover {
  background: #ff006b;
  border-color: #ff006b;
}

.hero-banner .screen-holder {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 30px;
  padding: 2.5rem;
  position: relative;
  margin-top: 80px;
}
.hero-banner .screen-holder .img-meta {
  width: 100%;
  border-radius: 20px;
}
.hero-banner .screen-holder .shape-one {
  left: -9%;
  bottom: -13%;
  width: 23.55%;
  animation: jumpThree 6s infinite linear;
}
.hero-banner .screen-holder .shape-two {
  right: -6%;
  top: -8%;
  width: 13%;
  animation: jumpTwo 6s infinite linear;
}
.hero-banner .screen-holder .screen-one {
  z-index: 1;
  border-radius: 1rem;
  top: 23%;
  left: -9%;
  width: 21.96%;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
  animation: jumpTwo 6s infinite linear;
}
.hero-banner .screen-holder .screen-two {
  z-index: 1;
  border-radius: 0.625rem;
  bottom: -10%;
  right: -10%;
  width: 20.76%;
  animation: jumpThree 6s infinite linear;
  box-shadow: 1rem 25px 50px rgba(16, 44, 78, 0.05);
}
.hero-banner .shape-three {
  top: 15%;
  left: 15%;
}
.hero-banner .shape-four {
  top: 30%;
  left: 8%;
}
.hero-banner .shape-five {
  top: 44%;
  left: 16%;
}
.hero-banner .shape-six {
  top: 16%;
  right: 20%;
}
.hero-banner .shape-seven {
  top: 30%;
  right: 9%;
}
.hero-banner .shape-eight {
  top: 44%;
  right: 20%;
}

.partner-marquee {
  background: #1b1f23;
  padding: 2rem 4.0625rem;
}

.partner-marquee .partner-title:after {
  content: "";
  height: 110px;
  width: 1px;
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.partner-marquee .partner-title h3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0;
  max-width: 250px;
  width: 100%;
}

.feature-section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.feature-section .section-title {
  margin-bottom: 130px;
}

.feature-section .section-heading {
  color: #0003;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.feature-section .section-caption {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.25em;
  color: #101621;
}

.feature-section .section-line {
  bottom: -20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.feature-section .block-meta {
  margin-bottom: 2rem;
  background-image: url(/img/card.png), linear-gradient(#1e1e1e, #1e1e1e);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.25rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.feature-section .block-meta:hover {
  background-image: url(/img/card.png),
    linear-gradient(rgba(117, 218, 180, 0.1), rgba(117, 218, 180, 0.1));
}
.feature-section .block-meta .icon {
  height: 35px;
}
.feature-section .block-meta .icon img {
  margin: 0 auto;
}
.feature-section .block-meta h4 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.25rem 0 0;
  color: white;
}
.feature-section .block-meta p {
  line-height: 2rem;
  color: #e4e4e4;
}

.why-section {
  background-color: #1b1f23;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.why-section h2 {
  line-height: 1;
}
.why-section .why-right-img::after {
  content: "";
  background-color: rgba(30, 28, 34, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.why-section .why-right-img img {
  width: 100%;
  height: auto;
}

@media all and (min-width: 1024px) {
  .why-section .why-right-img img {
    max-width: 100%;
    width: auto;
  }
}
.why-section .choose-btm {
  padding-top: 3.35rem;
}
.why-section .why-left-content {
  background-image: url(/img/choose-bg.png), linear-gradient(#1e1e1e, #1e1e1e);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 65px 30px;
}

.why-section .why-left-content .title {
  color: var(--ifm-link-color);
}

.why-section .why-left-content h4 {
  font-size: 1.5rem;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: #e4e4e4;
}
.why-section .why-left-content p {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  color: #b5b5b5;
}
.why-section .why-left-content .number {
  padding-top: 4.065rem;
  padding-left: 4rem;
}
.why-section .why-left-content .number span {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgba(228, 228, 228, 0.3);
}
.why-section .section-title {
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}
.why-section .section-title svg {
  display: none;
}
.why-section .section-title > div {
  justify-content: center;
}

.why-section .choose-feature {
  margin-top: 2rem;
}
.why-section .choose-feature .single-feature {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.25rem;
}

.why-section .choose-feature .single-feature h3 span {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgba(228, 228, 228, 0.3);
}
.why-section .choose-feature .single-feature p {
  color: #b5b5b5;
}

.discussion-section {
  background-image: url(/img/footer-bg.png), linear-gradient(#1d1d1d, #1d1d1d);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 0 120px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.discussion-section .section-caption {
  color: #fff;
  letter-spacing: 0;
  line-height: 1.19em;

  font-size: 4.5rem;
  font-weight: 700;
}
.discussion-section .section-subcaption {
  color: #fff;
  font-size: 1.5rem;
}
.discussion-section .shape-one {
  top: 0;
  right: 0;
}
.discussion-section .shape-two {
  bottom: 0;
  left: 0;
}
.discussion-section .shape-three {
  top: 18%;
  left: 14%;
}
.discussion-section .shape-four {
  top: 52%;
  left: 6%;
}
.discussion-section .shape-five {
  top: 79%;
  left: 16%;
}
.discussion-section .shape-six {
  top: 18%;
  right: 20%;
}
.discussion-section .shape-seven {
  top: 49%;
  right: 10%;
}
.discussion-section .shape-eight {
  top: 77%;
  right: 20%;
}

@media all and (max-width: 575px) {
  .hero-banner .hero-heading,
  .feature-section .section-caption,
  .feature-section .section-caption,
  .partner-section .section-caption,
  .why-section .section-caption,
  .discussion-section .section-caption {
    font-size: 2.5rem;
  }
  .hero-banner .hero-sub-heading,
  .discussion-section .section-subcaption {
    font-size: 1.25rem;
  }
  .section-line {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .hero-banner {
    padding: 4.5rem 0;
  }
  .hero-banner .hero-heading,
  .feature-section .section-caption,
  .feature-section .section-caption,
  .partner-section .section-caption,
  .why-section .section-caption,
  .discussion-section .section-caption {
    font-size: 2.5rem;
  }
  .hero-banner .hero-sub-heading,
  .discussion-section .section-subcaption {
    font-size: 1.25rem;
  }
  .why-section,
  .partner-section {
    padding-top: 4.5rem;
  }
  .why-section .wrapper {
    padding-top: 2rem;
  }
}

@media all and (min-width: 1024px) {
  .why-section .section-title {
    max-width: 450px;
    text-align: left;
    margin-left: 3rem;
  }
  .why-section .section-title svg {
    display: block;
  }
  .why-section .why-left-content {
    padding: 65px 75px 65px 85px;
    margin-right: 15px;
    margin-top: -120px;
  }
  .why-section .why-left-content p {
    padding-left: 4rem;
  }
  .why-section .choose-feature {
    margin-top: 0;
  }
}
